.interline-row {
    display: block;
    border: 1px #ffcfcf solid;
    margin-bottom: 1rem;
}

.interline-word {
    display: inline-block;
    background-color: #ffff80;
}

.text-transcript {
    color: blue;
    font-size: 1.5rem;
}

.text-translate {
    font-family: Arial;
    color: black;
    font-size: 1rem;
}