.interline-row {
    display: block;
    border: 1px #ffcfcf solid;
    margin-bottom: 1rem;
}

.interline-word {
    display: inline-block;
    background-color: #ffffc0;
    padding: 4px;
    margin: 4px;
}

.text-index {
    font-family: Arial;
    color: gray;
    font-size: 1rem;
    margin: 4px;
    text-align: center;
}

.text-transcript {
    color: blue;
    font-size: 1.5rem;
}

.text-translate {
    font-family: "Times New Roman";
    color: black;
    font-size: 1.5rem;
    margin: 4px;
}